
/* Container for the chat app */
.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100% !important;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  /* User section styling */
  .selectedUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
  }
  
  .username {
    margin-left: 10px;
    font-weight: bold;
  }
  
  /* Chat box styling */
  .chatBox {
    flex: 1;
    overflow-y: auto;
  }
  
  /* Chat bubble styling */
  .chat {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .chatReceiver {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .chatBubble {
    background-color: #f5f6f7;
    border-radius: 15px;
    padding: 10px;
    max-width: 50%;  /* Set maximum width to 50% */
    width: fit-content !important;  /* Fit content */
    /* word-wrap: break-word !imp; */
  }
  
  .chatBubbleReceiver {
    background-color: #007bff;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
    max-width: 50%;  /* Set maximum width to 50% */
    width: fit-content;  /* Fit content */
    /* word-wrap: break-word; */
  }
  
  .chatTime {
    font-size: 0.75rem;
    color: #aaa;
    margin-top: 5px;
  }
  
  /* Footer section styling */
 
  .footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eaeaea;
    align-items: center !important;
    /* padding-top: 10px; */
    /* border: 1px solid red; */
    position: relative;
  }
  .text-input-msg{
    padding: 1rem;
    width: 100% !important;

  }
  .sending_icons{
    font-size: 4rem;
    cursor: pointer;
    font-size: 2rem;
    color: black;
  }
  .sending_icons:hover{
    color: #CF7475;
  }
  .formControl {
    flex: 1;
    margin-right: 10px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .chatContainer {
      padding: 10px;
    }
  
    .username {
      font-size: 0.9rem;
    }
  
    .chatBubble,
    .chatBubbleReceiver {
      max-width: 100%;  /* Adjust max width for smaller screens */
    }
  
    .formControl {
      font-size: 0.9rem;
    }
  }
  

@media (max-width: 768px) {
    #chat3 .formControl {
        border-color: red;
        width: 60%;
        margin-right: 1px;
    }
  }