@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


svg {
    object-fit: cover;
    width: 80% !important;
    margin: auto;
    justify-content: center;
}

