@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: 'Raleway', sans-serif;
}

svg {
	object-fit: cover;
	width: 80% !important;
	margin: auto;
	justify-content: center;
}

.carousel-container {
	width: 100vw;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.carousel {
	display: flex;
	/* gap: 16px; */
	animation: scroll 60s linear infinite;
}

.carousel-item {
	flex: 0 0 auto;
	width: 70%;
	/*Should match the container width*/
}

@keyframes scroll {

	0%,
	100% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(calc(-100% * 4));
	}
}

/* MOBILE NAVBAR */

.navbar-lists {
	width: 100%;
	height: 85vh !important;
	/* position: absolute; */
	/* left: 0; */
	/* bottom: 0; */
	background-color: #fff;
	display: flex;
	flex-direction: column;
	display: none;
	opacity: 0;
	transform: translateX(100%);
	transition: all 0.3s linear;
}

.active .navbar-lists {
	display: block;
	opacity: 1;
	transform: translateX(0);
	z-index: 999;
	transform-origin: right;
	transition: all 0.3s linear;
}


.scrollbarHide::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbarHide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

input[name="month"] {
	accent-color: #CF7475;
}