@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
	font-family: 'Raleway', sans-serif;
}

svg {
	object-fit: cover;
	width: 80% !important;
	margin: auto;
	justify-content: center;
}

.carousel-container {
	width: 100vw;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.carousel {
	display: flex;
	/* gap: 16px; */
	animation: scroll 60s linear infinite;
}

.carousel-item {
	flex: 0 0 auto;
	width: 70%;
	/*Should match the container width*/
}

@keyframes scroll {

	0%,
	100% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(calc(-100% * 4));
	}
}

/* MOBILE NAVBAR */

.navbar-lists {
	width: 100%;
	height: 85vh !important;
	/* position: absolute; */
	/* left: 0; */
	/* bottom: 0; */
	background-color: #fff;
	display: flex;
	flex-direction: column;
	display: none;
	opacity: 0;
	transform: translateX(100%);
	transition: all 0.3s linear;
}

.active .navbar-lists {
	display: block;
	opacity: 1;
	transform: translateX(0);
	z-index: 999;
	transform-origin: right;
	transition: all 0.3s linear;
}

.custom-box-shadow {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.scrollbarHide::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbarHide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

input[name='month'] {
	accent-color: #cf7475;
}

/* tooltip */

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 150px;
	background-color: #555555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 6px 0px;
	position: absolute;
	z-index: 1;
	top: 15px;
	left: 110%;
	font-size: 14px;
	font-weight: 600;
}

.tooltip .tooltiptext::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #555555 transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.border-filled {
	border-color: #cf7475;
	border-width: 3px;
}

.border-empty {
	border-color: #cf7475;
	border-width: 2px;
}

/* Define the scrollbar thumb */
.currency-scrollbar::-webkit-scrollbar-thumb {
	background-color: #888;
	/* For Chrome, Safari, and Opera */
	border-radius: 20px;
	/* Optional: rounder thumb */
}

.currency-scrollbar::-webkit-scrollbar {
	width: 3px;
	/* Set the width of the scrollbar */
}

.navbar-link {
	color: black;
	position: relative;
	text-decoration: none;
}

.navbar-link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2.6px;
	border-radius: 4px;
	background-color: #cf7475;
	bottom: -4px;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

.navbar-link:hover::before {
	height: 3px;
	transform-origin: left;
	transform: scaleX(1);
}

::selection {
	color: #8dae8e;
}


/* TOAST CUSTOMIZATION */

.Toastify__toast--error {
	border: 2.5px solid #EB5757 !important;
	border-radius: 12px !important;
	background: #FAE1E2 !important;
}


.Toastify__toast--success {
	border: 2.5px solid #8DAE8E !important;
	border-radius: 12px !important;
	background: #dfeae5 !important;
}

.Toastify__toast-body {
	color: black !important;
	font-size: 16px !important;
	line-height: 20px !important;
	padding: 0px !important;
	width: 100% !important;
	font-weight: 500 !important;
	margin-left: 10px !important;
	font-size: 16.5px !important;
	text-align: start !important;
}

.Toastify__toast-icon {
	content: url('../assests//icons//logo.svg') !important;
}

/* Customizing Close Button */
.Toastify__close-button {
	width: 35px !important;
	height: 45px !important;
}