.white-scroll {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
/* design a light scroll for smooth-scroll class */
.white-scroll::-webkit-scrollbar {
  width: 2px;
}

/* transparent scrollbar */
.white-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 2px;
}