

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center loader and text horizontally */
  justify-content: center; /* Center loader and text vertically */
  background-color: #f5f5f5; /* Optional background color */
}

#loader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BB9B6C;
  animation: spin 2s linear infinite;
}

#loader:before,
#loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
}

#loader:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #BA55D3;
  animation: spin 3s linear infinite;
}

#loader:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #8DAE8E;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  margin-bottom: 20px; /* Space between logo and text */
}
